host list

<div>
  <ngx-datatable
    class="material"
    [rows]="rows"
    [columns]="columns"
    [columnMode]="'standard'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [externalPaging]="true"
    [count]="count"
    [offset]="offset"
    [limit]="limit"
    (page)='onPage($event)'
    (sort)='onSort($event)'>

    <template #stateTpl let-row="row" let-value="value">
          <span class="state_{{value}}">
            <fa name="server" size="1x"></fa>
          </span>
    </template>

  </ngx-datatable>
</div>
